<!-- Page Name -->
<div class="row">
  <div class='page-header'>
    <div class='btn-toolbar pull-right'>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" ng-click="toggleForm()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          New {{objectName}}
        </button>
      </div>
    </div>
    <h1>{{objectName}}s</h1>
  </div>
</div>
<!-- Panel List -->
<div class="row">
  <div class="panel panel-default" ng-repeat="workout in workouts">
    <div class="panel-heading">
      <h3 class="panel-title">{{workout.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-8 col-md-8">
        <p>{{workout.description}}</p>
      </div>
      <div class="col-xs-4 col-md-4">
        <div class="btn-group pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-primary" ng-click="addExercise(workout)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Exercise
          </button>
        </div>
      </div>
    </div>
    <!-- Form -->
    <div class="panel-body" ng-show="isFormVisible && selectedWorkout == workout">
      <form> <!-- ng-submit="addWorkoutExercise({{workout._id}})" -->
        <div class="form-group">
          <label for="exerciseSearch">Search</label>
          <input  type="text"
                  ng-model="selectedExercise"
                  placeholder="Enter an exercise"
                  uib-typeahead="exercise as exercise.name for exercise in exercises | filter:$viewValue | limitTo:8"
                  typeahead-on-select="onSelect($item,$model,$label)"
                  typeahead-loading="loadingExercises"
                  typeahead-no-results="noResults"
                  id="exerciseSearch"
                  class="form-control"
                  aria-describedby="sizing-addon1">
                  <!-- exercise as exercise.name for  exercise in exercises | filter:{name:$viewValue} | limitTo:8 -->
                  <i ng-show="loadingExercises" class="glyphicon glyphicon-refresh"></i>
                  <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                  </div>
        </div>
        <div class="btn-group" role="group" aria-label="...">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-danger" ng-click="toggleForm()">Cancel</button>
        </div>
      </form>
    </div>
    <!-- Panel Table -->
    <table class="table">
      <thead>
        <tr>
          <th ng-repeat="key in exerciseKeys">{{key | uppercase}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="exercise in workout.exercises">
          <td>{{exercise.name}}</td>
          <td>{{exercise.description}}</td>
          <td>{{exercise.category}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
