<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- RESPONSIVE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- TITLE -->
    <title><%= title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/libs/fullcalendar/dist/fullcalendar.css"/>

    <!-- JS: NO CDN -->
    <script src="/libs/angular/angular.js"></script>
    <script src="/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- CUSTOM -->
    <script src="/js/controllers/exercise.controller.js"></script>
    <script src="/js/controllers/workout.controller.js"></script>
    <script src="/js/controllers/session.controller.js"></script>
    <script src="/js/services/exercises.service.js"></script>
    <script src="/js/services/workouts.service.js"></script>
    <script src="/js/directives/navigation.directive.js"></script>
    <script src="/js/app.routes.js"></script>
    <script src="/js/app.js"></script>

  </head>

  <body ng-app="meanWorkout">
    <!-- Navigation -->
    <nav-bar></nav-bar>
    <!-- Body -->
    <div>
      <ui-view></ui-view>
    </div>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <!-- Calendar -->
    <script type="text/javascript" src="/libs/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/libs/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/libs/fullcalendar/dist/gcal.js"></script>
  </body>
</html>
